/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/open-sans-v20-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-kr-regular - latin */
   @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/noto-sans-kr-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/noto-sans-kr-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* noto-sans-kr-500 - latin */
   @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('../fonts/noto-sans-kr-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/noto-sans-kr-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

html{
     box-sizing: border-box;
}

*, *::before, *::after{
     box-sizing: inherit;
}

body{
     font-family: 'Open Sans';
     font-style: normal;
     font-size: 16px;
     line-height: 1.2;
     font-weight: normal;
     color: #48555B;
}
.wrapper{
     max-width: 942px;
     margin: 0 auto;    
}
.H1{
     font-family: 'Noto Sans KR';
     font-weight: 400;
     font-size: 60px;
     line-height: 70px;
     color: #fff;
}

.H2{
     font-weight: 700;
     font-size: 18px;
     line-height: 24.5px;
     letter-spacing: 2.3px;
     color: #48555B;
     padding: 57px 0 0 0;
     position: relative;
}

.H2::after{
     content: "";
     width: 50px;
     height: 2px;
     background-color: #00A4E5;
     margin: 10px 0 0 0;
     position: absolute;
     top: 100%;
     left: 35px;

}

.H2_left::after{
     content: "";
     width: 50px;
     height: 2px;
     background-color: #00A4E5;
     margin: 10px 0 0 0;
     position: absolute;
     top: 100%;
     left: 0;
}
.H3{
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     letter-spacing: 0.19px;
     margin: 60px 0 0 0;
}

.button{
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #fff;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;

    padding: 11px 29px 11px 29px;
}

.button_work{
    padding: 11px 26px 11px 26px;
}

.button_newsletter{
    padding: 11px 49px 11px 48.5px
}
/* Header */

.header__wrapper{
     height: 65px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     color: #fff;
}

.nav_list{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     
}

.nav_item{
     margin-right: 40px;
}

.nav_item:last-child{
     margin-right: 0;
}

.nav_link{
     font-weight: 600;
     font-size: 12px;
     line-height: 16px;
     text-decoration: none;
     color: #48555B;
}

.nav_link:hover,.nav_link:focus,.nav_link:active{
     color: #00A4E5;
}

/* Intro */

.Intro{
     
     background: url(../img/bg.jpg) no-repeat center;
     background-size: cover;
}


.intro__wrapper{
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     height: 100vh;
     text-align: center;
}
.intro__logo{
     padding: 40px 0 0 0;
}

.intro__title{
     padding: 8px 0 0 0;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     color: #fff;
}

.intro__scroll{
     padding: 0 0 71px 0;

     font-weight: 600;
     font-size: 11px;
     line-height: 15px;
     letter-spacing: 3.7px;
     color: #fff;
}

/* About */

.about__title{
     display: flex;
     justify-content: center;
     margin: 0 0 10px 0;
}

.about__columns{
    display: flex; 
    flex-grow: 1;
    position: relative;
}
.about__columns_text{
     max-width: 471px;
     padding: 0 76px 0 0;
}

.about__text{
     margin: 30px 0 0 0;
     font-size: 13px;
     line-height: 23px;
     letter-spacing: 0.1875px;
}

.about__columns_picture{
     max-width: 471px;
     display: flex;
}

.about__columns_item{
     margin: 84px 17px 0 0;
     flex: 0 0 33.333%;
     position: relative;
}

.about__columns_item:last-child{
     margin: 84px 0 0 0;
}


.about__columns_title_text{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Services */

.services__wrapper_title{
   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin: 0 0 78px 0; 
}

.services__title{
    max-width: 200px;
    
}
.services__text_property{
    max-width: 405px;
    position: absolute;
    left: 350px;
    top: 55px;
}
.services__text{
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.services__wrapper{
    display: flex;
    margin: 0 0 115px 0;
}

.services__item{
    flex: 0 0 33.333%;
    border: 1px solid #E6E6E6;
    margin: 0 28px 0 0;
    padding: 38px 22px 0 23px;
}

.services__item_logo{
    margin: 0 0 25px 0;
}

.services__item_title{
    margin: 0 0 13px 0;
}

.services__item_text{
    margin: 0 0 39px 0;
}

.serv_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
}

.serv_text{
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
}

/* Work */

.work__wrapper{
    height: 499px;
    background: url(../img/work_bg.jpg) no-repeat center;
    background-size: cover;
    background-color: #171819;

    display: flex;
    flex-direction: column;
    align-items: center;
}    

.work__title{
    max-width: 350px;
    margin: 120px 0 35px 0;
}

.work__title_text{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
}


/* Newsletter */

.Newsletter{
    height: 100px;
    background-color: #171819;
}

.newsletter__wrapper{
    display: flex;
    padding: 30px 377px 30px 378px;   
}

.newsletter__text{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin: 0 70px 0 0;
}

.newsletter__form{
    max-width: 250px;
    height: 40px;
    display: flex;
    position: relative;
}

.newsletter__button{
    position: absolute;
    left: 250px;
    top: 10px;
}
.newsletter__form_text{
    width: 250px;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    padding: 11px 98px 10px 16px;
}

/* Contact */

.Contact{
    height: 240px;
    background-color: #141A20;
}
.contact__wrapper{
    
    display: flex;
}

.contact__column{
    flex: 0 0 33.333%;
}

.contact__column_item{
    display: flex;
    justify-content: space-between;
}
.contact__title{
    margin: 42px 0 19px 0;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.contact__logo{
    margin: 0 0 17px 0;
}

.contact__text{
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    padding: 0 58px 0 0;
}

.nav_class_futter{
    margin: 0 34px 0 0;
}
.nav_list_futter{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.nav_item_futter{
    margin-right: 0;
    white-space: nowrap;
}

.nav_link_futter{
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: 0.846154px;
    color: #fff;
}

.contact__column_itemlink{
    margin: 0 38px 0 0;
}

.contact__link{
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    text-decoration: none;
    color: #fff;
}

.contact__column:last-child{
    margin: 0 0 0 20px;
}

.contact__column_text{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.contact__column_itemlast{
    display: flex;
    margin: 0 50px 0 0;
    position: relative;
}

.contact__col_item{
    display: flex;
}

.contact__icon{
    position: absolute;
}